UID=1000
GID=1000
ELASTICSEARCH_PASSWORD=ChangeThisElasticPassword123!
CORTEX_DOCKER_JOB_DIRECTORY=./cortex/cortex-jobs
NGINX_SERVER_NAME=localhost
NGINX_SSL_TRUSTED_CERTIFICATE=/etc/nginx/certs/thehive-ca.crt
THEHIVE_SECRET=ChangeThisTheHiveSecretValue
CORTEX_SECRET=ChangeThisCortexSecretValue
